@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --primary-color: #2C3E50;           /* Deep Blue */
    --secondary-color: #27AE60;         /* Emerald Green */
    --accent-color: #3498DB;            /* Royal Blue */
    --additional-accent-color: #E74C3C; /* Terra Cotta */
    --heading-font: 'Helvetica', sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    --navigation-bg-color: #34495E;     /* Dark Blue-Gray */
    --navigation-link-color: #ECF0F1;   /* Light Silver */
    --navigation-hover-link-color: #BDC3C7;  /* Silver */
    --navigation-hover-bg-color: #2C3E50;    /* Dark Blue */
    --text-color: #333;
}
h1, h2 {
    font-family: verdana;
    color: black;
    font-size: 300%;
  }
  p {
    padding: 0;
    line-height: 1.5;
}
.social-links {
    text-decoration: none;
}
.social-links img {
  width: 1%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
}
body {
    max-width: 1200px;
    margin: 0 auto;
}
.hero {
    position:relative;
}
.hero h1,
.hero article {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center; 
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    float:right;

}
article {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
    max-width: 600px;
    margin: 0 auto;
  }
figure {
  text-align: center;
  margin: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color:#fff;
  padding: 10px;
  text-align: right;
  height:26vh;
    margin: 0 1rem;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3498DB;
  color: #fff;
}
  
  .logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
  }
  
  h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  nav {
    text-align: right;
  }
  
  .navigation {
    display: flex;
    list-style: none;
  }
  
  
  .navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
  }
  section{
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
} 
.history {
  padding: 20px;
}

/* Adventures Section styles */
.adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}