@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --primary-color: #2C3E50;           /* Deep Blue */
    --secondary-color: #27AE60;         /* Emerald Green */
    --accent-color: #3498DB;            /* Royal Blue */
    --additional-accent-color: #E74C3C; /* Terra Cotta */
    --heading-font: 'Helvetica', sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    --navigation-bg-color: #34495E;     /* Dark Blue-Gray */
    --navigation-link-color: #ECF0F1;   /* Light Silver */
    --navigation-hover-link-color: #BDC3C7;  /* Silver */
    --navigation-hover-bg-color: #2C3E50;    /* Dark Blue */
    --text-color: #333;
}

.contact-info {
  margin-bottom: 40px;
}

.employee-profiles {
  margin-bottom: 40px;
}

.employee-profiles figure {
  text-align: center;
}

.employee-profiles img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-form {
  margin-bottom: 40px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #555;
}
