*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




main{
    max-width: 840px;
}
aside{
    position: relative;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
    float: right;
}
p {
    padding: 0;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
nav {
    display: flex;
    justify-content:space-between;
    padding: 1rem 2rem;
    background: #cfd8dc;
}
nav a {
    text-decoration: none;
    color: #0d47a1;
  }
  h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
  }
  h2 {
    color: black;
    font-family: verdana;
    font-size: 300%;
  }
  /*class selectors */

  .box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
  }